html, body, #app, #app>div {
    height: 100%;
    font-family: Times, Times New Roman, serif !important;
  }
.appBubble{
  top:"-10px";
  text-align: center;
  float: left;
  width:5rem;
  margin:.5%;
  background-color:#e9d8c2;
  border-radius: 10px 10px 10px 10px;
}
.icon{
  color:white;
  font: 500 normal 2.5em 'tahoma';
  font-family: URW Chancery L, cursive;
    margin-right: 10px;
}
#loading{
  position: absolute; 
  top: 50%;
  left: 54%;
  margin: -100px 0 0 -150px;
}