.word {
  /* background-color: yellow !important; */
  color: #e9d8c2;
  font: 800 normal 5.5em 'tahoma';
  text-shadow: 4px 3px #222324, 2px 4px #222324, 3px 5px #222324;
  font-family: URW Chancery L, cursive;
}
.container {
  /* background-color: black !important; */
  position: absolute; 
  top: 50%;
  left: 48%;
  margin: -100px 0 0 -150px;
  display: flex;
  justify-content: center;
}
.appBubble{
  top:"-10px";
  text-align: center;
  float: left;
  width:5rem;
  margin:.5%;
  background-color:#e9d8c2;
  border-radius: 10px 10px 10px 10px;
  border-color: white;
}
.icon{
  color:white;
  font: 500 normal 2.5em 'tahoma';
  font-family: URW Chancery L, cursive;
    margin-right: 10px;
}