*{
    font-family: sans-serif

}
#container{
    margin-top: 1rem;
    text-align: center;
}
#container {
}
.formButtons{
    display: flex;
    justify-content: space-evenly;

}
#date{
    position: relative;
    border-radius: 30px;
    border: cbcbcb;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
