/* .logoutButton{
  background-color:#e9d8c2 !important;
  border-radius: 10px 10px 10px 10px !important;
  color: #000000 !important;
  float: right !important;
  margin:.5% !important;
  font:300 normal 1.5em 'tahoma' !important;
  font-family: "cursive" !important;
} */