*{
    font-family: sans-serif

}
#navbar{
    border-bottom: 1px solid  lightgrey;
    height: 5rem;
    width: 100%;
    background: white;
    position: relative;
   
    
}
.header{
    position: absolute;
    top: 0%;
    right:0%;
    margin:0 auto;
    height:5rem;
    border-bottom: 1px solid  lightgrey;
}
.header:hover{
    cursor: pointer;
}
.tabs{
    margin: .3% !important;
    cursor: pointer;
    color:black;
    margin-top: 115px;
    font-size: 100%;
    font-family:Times, Times New Roman, serif;
}
.tabs:hover{
    text-decoration: underline;
}

#userName{
    position: relative;
    font-family:Times, Times New Roman, serif;
}
#userInfo{
    position: absolute;
    font-family:Times, Times New Roman, serif !important;
}



